# Berkenalan Singkat Dengan Minilake

## Sepintas Mengenai Sistem Operasi

In [1]:
! cat /etc/os-release

PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

In [2]:
! whoami

root

In [3]:
! pwd

/home/iceberg/notebooks

In [4]:
!ls -lah

total 100M
drwxrwxrwx 1 root    root    4.0K Aug  8 16:40  .
drwxr-xr-x 1 iceberg iceberg 4.0K Aug  8 16:06  ..
drwx------ 1 root    root    4.0K Aug  2 08:16  .Trash-0
drwxrwxrwx 1 root    root    4.0K Aug  4 08:55  .git
drwxr-xr-x 1 root    root    4.0K Aug  8 13:57  .ipynb_checkpoints
-rw-r--r-- 1 root    root     89K Aug  8 16:28 'Business Questions.ipynb'
-rw-r--r-- 1 root    root     109 Aug  4 04:28  Cabang.csv
-rw-r--r-- 1 root    root     81K Aug  8 16:40  CoffeeShop.ipynb
-rwxrwxrwx 1 root    root     37K Aug  8 14:32 'Hello World.ipynb'
-rw-r--r-- 1 root    root      48 Aug  4 04:29  Kategori.csv
-rw-r--r-- 1 root    root     321 Aug  4 04:29  Produk.csv
-rwxrwxrwx 1 root    root    9.7K Jul 31 16:02 'Spark - 01. RDD vs DataFrame.ipynb'
-rw-r--r-- 1 root    root    100M Aug  4 03:06  Transaksi.csv
drwxr-xr-x 1 root    root    4.0K Aug  1 07:39  spark-warehouse

## Tentang Spark

In [5]:
spark

In [6]:
spark.conf.get("spark.app.name")

'PySparkShell'

In [7]:
spark.conf.get("spark.master")

'local[*]'

In [8]:
spark.conf.get("spark.sql.catalogImplementation")

'in-memory'

In [9]:
spark.catalog.currentCatalog()

'minilake'

In [10]:
spark.conf.get("spark.sql.catalog.minilake.uri")

'http://minilake:8181'

In [11]:
# 1. Dapatkan SparkContext dari SparkSession Anda
sc = spark.sparkContext

# 2. Akses atribut .uiWebUrl untuk mendapatkan alamatnya
spark_ui_url = sc.uiWebUrl

# 3. Cetak hasilnya
print(f"URL Spark Web UI Anda adalah: {spark_ui_url}")

URL Spark Web UI Anda adalah: http://828a7eb6b33f:4042

In [12]:
# Perintah ini akan menjalankan command 'curl' dari dalam lingkungan Spark
# untuk menanyakan IP publiknya ke layanan ifconfig.me
import os
host_ip = os.popen('curl -s ifconfig.me').read()

# Cetak hasilnya
print(f"✅ IP Publik server Anda adalah: {host_ip}")

# Anda bisa coba membuat URL yang bisa diakses
# Ganti port 4041 dengan port yang ditampilkan di output Anda sebelumnya
print(f"Coba akses Spark UI di: http://{host_ip.strip()}:4041")

✅ IP Publik server Anda adalah: 158.140.175.193
Coba akses Spark UI di: http://158.140.175.193:4041

## Say Hello to Iceberg

Menampilkan semua catalog yang ada pada Iceberg

In [16]:
%%sql

SHOW CATALOGS

+---------------+
|       catalog |
+---------------+
|      minilake |
| spark_catalog |
+---------------+

Menampilkan semua database pada Iceberg

In [17]:
%%sql

SHOW DATABASES

+----------------------+
|            namespace |
+----------------------+
|           coffeeshop |
| coffeeshop_medallion |
|              default |
|               sample |
|                 test |
+----------------------+

### Membuat Database dan Table

In [3]:
%%sql
    
CREATE DATABASE IF NOT EXISTS sample1

Py4JJavaError: An error occurred while calling o36.sql.
: org.apache.iceberg.exceptions.ServiceFailureException: Server error: UncheckedSQLException: Failed to execute: INSERT INTO iceberg_namespace_properties (catalog_name, namespace, property_key, property_value) VALUES (?,?,?,?), (?,?,?,?)
	at org.apache.iceberg.rest.ErrorHandlers$DefaultErrorHandler.accept(ErrorHandlers.java:241)
	at org.apache.iceberg.rest.ErrorHandlers$NamespaceErrorHandler.accept(ErrorHandlers.java:190)
	at org.apache.iceberg.rest.ErrorHandlers$NamespaceErrorHandler.accept(ErrorHandlers.java:171)
	at org.apache.iceberg.rest.HTTPClient.throwFailure(HTTPClient.java:215)
	at org.apache.iceberg.rest.HTTPClient.execute(HTTPClient.java:299)
	at org.apache.iceberg.rest.BaseHTTPClient.post(BaseHTTPClient.java:88)
	at org.apache.iceberg.rest.RESTSessionCatalog.createNamespace(RESTSessionCatalog.java:548)
	at org.apache.iceberg.catalog.BaseSessionCatalog$AsCatalog.createNamespace(BaseSessionCatalog.java:128)
	at org.apache.iceberg.rest.RESTCatalog.createNamespace(RESTCatalog.java:227)
	at org.apache.iceberg.spark.SparkCatalog.createNamespace(SparkCatalog.java:481)
	at org.apache.spark.sql.execution.datasources.v2.CreateNamespaceExec.run(CreateNamespaceExec.scala:47)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [2]:
%%sql

SHOW DATABASES

+----------------------+
|            namespace |
+----------------------+
|           coffeeshop |
| coffeeshop_medallion |
|              default |
|               sample |
|                 test |
+----------------------+

Membuat tabel  `weather`

In [15]:
%%sql
CREATE TABLE IF NOT EXISTS sample.weather (
    datetime              timestamp,
    temp                  double,
    lat                   double,
    long                  double,
    cloud_coverage        string,
    precip                double,
    wind_speed            double
)
USING iceberg
PARTITIONED BY (days(datetime))

++
||
++
++

In [16]:
%%sql
DESCRIBE TABLE EXTENDED sample.weather

+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                              data_type | comment |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                     datetime |                                                                                                              timestamp |    None |
|                         temp |                                                                                                                 double |    None |
|                          lat |                                                                                                                 double |    None |
|                         long |                                                                                                                 double |    None |
|               cloud_coverage |                                                                                                                 string |    None |
|                       precip |                                                                                                                 double |    None |
|                   wind_speed |                                                                                                                 double |    None |
|                              |                                                                                                                        |         |
|               # Partitioning |                                                                                                                        |         |
|                       Part 0 |                                                                                                         days(datetime) |         |
|                              |                                                                                                                        |         |
|           # Metadata Columns |                                                                                                                        |         |
|                     _spec_id |                                                                                                                    int |         |
|                   _partition |                                                                                              struct<datetime_day:date> |         |
|                        _file |                                                                                                                 string |         |
|                         _pos |                                                                                                                 bigint |         |
|                     _deleted |                                                                                                                boolean |         |
|                              |                                                                                                                        |         |
| # Detailed Table Information |                                                                                                                        |         |
|                         Name |                                                                                                minilake.sample.weather |         |
|                         Type |                                                                                                                MANAGED |         |
|                     Location |                                                                                          s3://warehouse/sample/weather |         |
|                     Provider |                                                                                                                iceberg |         |
|                        Owner |                                                                                                                   root |         |
|             Table Properties | [current-snapshot-id=7237277411764345586,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd] |         |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+

In [17]:
%%sql

SELECT * FROM sample.weather

+---------------------+------+-----------+------------+-----------------+--------+------------+
|            datetime | temp |       lat |       long |  cloud_coverage | precip | wind_speed |
+---------------------+------+-----------+------------+-----------------+--------+------------+
| 2023-08-16 00:00:00 | 76.2 | 40.951908 | -74.075272 | Partially sunny |    0.0 |        3.5 |
| 2023-08-16 00:00:00 | 76.2 | 40.951908 | -74.075272 | Partially sunny |    0.0 |        3.5 |
| 2023-08-17 00:00:00 | 82.5 | 40.951908 | -74.075272 |           Sunny |    0.0 |        1.2 |
| 2023-08-17 00:00:00 | 82.5 | 40.951908 | -74.075272 |           Sunny |    0.0 |        1.2 |
| 2023-08-18 00:00:00 | 70.9 | 40.951908 | -74.075272 |          Cloudy |    0.5 |        5.2 |
| 2023-08-18 00:00:00 | 70.9 | 40.951908 | -74.075272 |          Cloudy |    0.5 |        5.2 |
+---------------------+------+-----------+------------+-----------------+--------+------------+

Mengupload contoh data dari dataframe

In [18]:
from datetime import datetime

schema = spark.table("sample.weather").schema

data = [
    (datetime(2023,8,16), 76.2, 40.951908, -74.075272, "Partially sunny", 0.0, 3.5),
    (datetime(2023,8,17), 82.5, 40.951908, -74.075272, "Sunny", 0.0, 1.2),
    (datetime(2023,8,18), 70.9, 40.951908, -74.075272, "Cloudy", .5, 5.2)
  ]

df = spark.createDataFrame(data, schema)
df.writeTo("sample.weather").append()

In [19]:
%%sql

SELECT * FROM sample.weather

+---------------------+------+-----------+------------+-----------------+--------+------------+
|            datetime | temp |       lat |       long |  cloud_coverage | precip | wind_speed |
+---------------------+------+-----------+------------+-----------------+--------+------------+
| 2023-08-16 00:00:00 | 76.2 | 40.951908 | -74.075272 | Partially sunny |    0.0 |        3.5 |
| 2023-08-17 00:00:00 | 82.5 | 40.951908 | -74.075272 |           Sunny |    0.0 |        1.2 |
| 2023-08-16 00:00:00 | 76.2 | 40.951908 | -74.075272 | Partially sunny |    0.0 |        3.5 |
| 2023-08-18 00:00:00 | 70.9 | 40.951908 | -74.075272 |          Cloudy |    0.5 |        5.2 |
| 2023-08-17 00:00:00 | 82.5 | 40.951908 | -74.075272 |           Sunny |    0.0 |        1.2 |
| 2023-08-18 00:00:00 | 70.9 | 40.951908 | -74.075272 |          Cloudy |    0.5 |        5.2 |
| 2023-08-16 00:00:00 | 76.2 | 40.951908 | -74.075272 | Partially sunny |    0.0 |        3.5 |
| 2023-08-17 00:00:00 | 82.5 | 40.951908 | -74.075272 |           Sunny |    0.0 |        1.2 |
| 2023-08-18 00:00:00 | 70.9 | 40.951908 | -74.075272 |          Cloudy |    0.5 |        5.2 |
+---------------------+------+-----------+------------+-----------------+--------+------------+

Agregasi sederhana

In [20]:
%%sql

SELECT cloud_coverage, count(*), sum(temp), avg(precip)
FROM sample.weather
GROUP BY cloud_coverage
ORDER BY cloud_coverage

+-----------------+----------+--------------------+-------------+
|  cloud_coverage | count(1) |          sum(temp) | avg(precip) |
+-----------------+----------+--------------------+-------------+
|          Cloudy |        3 | 212.70000000000002 |         0.5 |
| Partially sunny |        3 | 228.60000000000002 |         0.0 |
|           Sunny |        3 |              247.5 |         0.0 |
+-----------------+----------+--------------------+-------------+