In [1]:
spark

In [1]:
%%sql

create database IF NOT EXISTS Hospital

25/08/11 06:19:07 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [1]:
%%sql

show databases

25/08/12 16:36:04 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+----------------------+
|            namespace |
+----------------------+
|           coffeeshop |
| coffeeshop_medallion |
|              default |
|   hospital_medallion |
|               sample |
|             Hospital |
|                 test |
+----------------------+

In [77]:
%%sql

show schemas

+----------------------+
|            namespace |
+----------------------+
|           coffeeshop |
| coffeeshop_medallion |
|              default |
|        hospital_gold |
|   hospital_medallion |
|               sample |
|             Hospital |
|                 test |
+----------------------+

In [1]:
%%sql

use Hospital

25/08/13 03:09:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [2]:
%%sql

show tables in hospital_medallion

+--------------------+----------------------+-------------+
|          namespace |            tableName | isTemporary |
+--------------------+----------------------+-------------+
| hospital_medallion |    dictionary_bronze |       False |
| hospital_medallion |    dictionary_silver |       False |
| hospital_medallion |    encounters_bronze |       False |
| hospital_medallion |    encounters_silver |       False |
| hospital_medallion | organizations_bronze |       False |
| hospital_medallion | organizations_silver |       False |
| hospital_medallion |      patients_bronze |       False |
| hospital_medallion |      patients_silver |       False |
| hospital_medallion |        payers_bronze |       False |
| hospital_medallion |        payers_silver |       False |
| hospital_medallion |    procedures_bronze |       False |
| hospital_medallion |    procedures_silver |       False |
+--------------------+----------------------+-------------+

In [3]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/patients.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_patients = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_patients.printSchema()

print("\nContoh Data:")
df_patients.show(5)

df_patients.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- BIRTHDATE: date (nullable = true)
 |-- DEATHDATE: date (nullable = true)
 |-- PREFIX: string (nullable = true)
 |-- FIRST: string (nullable = true)
 |-- LAST: string (nullable = true)
 |-- SUFFIX: string (nullable = true)
 |-- MAIDEN: string (nullable = true)
 |-- MARITAL: string (nullable = true)
 |-- RACE: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- BIRTHPLACE: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTY: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)


Contoh Data:
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
|                  Id| BIRTHDATE| DEATHDATE|PREFIX|    FIRST|         LAST|SUFFIX|   MAIDEN|MARITAL| RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|  CITY|        STATE|        COUNTY| ZIP|               LAT|         LON|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
|5605b66b-e92d-c16...|1977-03-19|      NULL|  Mrs.|Nikita578|    Erdman779|  NULL|Leannon79|      M|white|nonhispanic|     F|Wakefield  Massac...|510 Little Statio...|Quincy|Massachusetts|Norfolk County|2186|42.290937381211286|-70.97550306|
|6e5ae27c-8038-798...|1940-02-19|      NULL|   Mr.|  Zane918|Hodkiewicz467|  NULL|     NULL|      M|white|nonhispanic|     M|Brookline  Massac...| 747 Conn Throughway|Boston|Massachusetts|Suffolk County|2135|42.308831197562505| -71.0631616|
|8123d076-0886-900...|1958-06-04|      NULL|   Mr.| Quinn173| Marquardt819|  NULL|     NULL|      M|white|nonhispanic|     M|Gardner  Massachu...|816 Okuneva Exten...|Quincy|Massachusetts|Norfolk County|2170| 42.26517684888508|-70.96708508|
|770518e4-6133-648...|1928-12-25|2017-09-29|   Mr.|  Abel832|   Smitham825|  NULL|     NULL|      M|white|   hispanic|     M|Randolph  Massach...|127 Cole Way Unit 95|Boston|Massachusetts|Suffolk County|2118|42.334303740740594| -71.0668012|
|f96addf5-81b9-0aa...|1928-12-25|2014-02-23|   Mr.| Edwin773|   Labadie908|  NULL|     NULL|      M|white|   hispanic|     M|Stow  Massachuset...| 976 Ziemann Gateway|Boston|Massachusetts|Suffolk County|2125|42.346771403899275|-71.05881297|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
only showing top 5 rows

In [4]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/payers.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_payers = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_payers.printSchema()

print("\nContoh Data:")
df_payers.show(5)

df_payers.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE_HEADQUARTERED: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- PHONE: string (nullable = true)


Contoh Data:
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
|                  Id|                NAME|           ADDRESS|      CITY|STATE_HEADQUARTERED|  ZIP|         PHONE|
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
|b3221cfc-24fb-339...|       Dual Eligible|7500 Security Blvd| Baltimore|                 MD|21244|1-877-267-2323|
|7caa7254-5050-3b5...|            Medicare|7500 Security Blvd| Baltimore|                 MD|21244|1-800-633-4227|
|7c4411ce-02f1-39b...|            Medicaid|7500 Security Blvd| Baltimore|                 MD|21244|1-877-267-2323|
|d47b3510-2895-3b7...|              Humana|  500 West Main St|Louisville|                 KY|40018|1-844-330-7799|
|6e2f1a2d-27bd-370...|Blue Cross Blue S...|    Michigan Plaza|   Chicago|                 IL|60007|1-800-262-2583|
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
only showing top 5 rows

In [5]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/encounters.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_encounters = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_encounters.printSchema()

print("\nContoh Data:")
df_encounters.show(5)

df_encounters.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ORGANIZATION: string (nullable = true)
 |-- PAYER: string (nullable = true)
 |-- ENCOUNTERCLASS: string (nullable = true)
 |-- CODE: integer (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_ENCOUNTER_COST: double (nullable = true)
 |-- TOTAL_CLAIM_COST: double (nullable = true)
 |-- PAYER_COVERAGE: double (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = true)


Contoh Data:
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
|                  Id|              START|               STOP|             PATIENT|        ORGANIZATION|               PAYER|ENCOUNTERCLASS|     CODE|         DESCRIPTION|BASE_ENCOUNTER_COST|TOTAL_CLAIM_COST|PAYER_COVERAGE|REASONCODE|REASONDESCRIPTION|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
|32c84703-2481-49c...|2011-01-02 09:26:36|2011-01-02 12:58:36|3de74169-7f67-930...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    ambulatory|185347001|Encounter for pro...|              85.55|         1018.02|           0.0|      NULL|             NULL|
|c98059da-320a-c0a...|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e44-32e9-914...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    outpatient|308335008|Patient encounter...|             142.58|         2619.36|           0.0|      NULL|             NULL|
|4ad28a3a-2479-782...|2011-01-03 14:32:11|2011-01-03 14:47:11|73babadf-5b2b-fee...|d78e84ec-30aa-3bb...|7caa7254-5050-3b5...|    outpatient|185349003|Encounter for che...|              85.55|          461.59|        305.27|      NULL|             NULL|
|c3f4da61-e4b4-21d...|2011-01-03 16:24:45|2011-01-03 16:39:45|3b46a0b7-0f34-9b9...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|      wellness|162673000|General examinati...|              136.8|         1784.24|           0.0|      NULL|             NULL|
|a9183b4f-2572-72e...|2011-01-03 17:36:53|2011-01-03 17:51:53|fa006887-d93c-d30...|d78e84ec-30aa-3bb...|42c4fca7-f8a9-3cd...|    ambulatory|390906007| Follow-up encounter|              85.55|          234.72|           0.0|  55822004|   Hyperlipidemia|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
only showing top 5 rows

In [6]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/organizations.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_organizations = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_organizations.printSchema()

print("\nContoh Data:")
df_organizations.show(5)

df_organizations.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)


Contoh Data:
+--------------------+--------------------+---------------+------+-----+----+---------+----------+
|                  Id|                NAME|        ADDRESS|  CITY|STATE| ZIP|      LAT|       LON|
+--------------------+--------------------+---------------+------+-----+----+---------+----------+
|d78e84ec-30aa-3bb...|MASSACHUSETTS GEN...|55 FRUIT STREET|BOSTON|   MA|2114|42.362813|-71.069187|
+--------------------+--------------------+---------------+------+-----+----+---------+----------+

In [7]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/procedures.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_procedures = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_procedures.printSchema()

print("\nContoh Data:")
df_procedures.show(5)

df_procedures.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ENCOUNTER: string (nullable = true)
 |-- CODE: long (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_COST: integer (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = true)


Contoh Data:
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
|              START|               STOP|             PATIENT|           ENCOUNTER|     CODE|         DESCRIPTION|BASE_COST|REASONCODE|   REASONDESCRIPTION|
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
|2011-01-02 09:26:36|2011-01-02 12:58:36|3de74169-7f67-930...|32c84703-2481-49c...|265764009|Renal dialysis (p...|      903|      NULL|                NULL|
|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e44-32e9-914...|c98059da-320a-c0a...| 76601001|Intramuscular inj...|     2477|      NULL|                NULL|
|2011-01-04 14:49:55|2011-01-04 15:04:55|d856d6e6-4c98-e7a...|2cfd4ddd-ad13-fe1...|703423002|Combined chemothe...|    11620| 363406005|Malignant tumor o...|
|2011-01-05 04:02:09|2011-01-05 04:17:09|bc9d59c3-0a30-6e3...|17966936-0878-f4d...|173160006|Diagnostic fibero...|     9796| 162573006|Suspected lung ca...|
|2011-01-05 12:58:36|2011-01-05 16:42:36|3de74169-7f67-930...|9de5f0b0-4ba4-ce6...|265764009|Renal dialysis (p...|     1255|      NULL|                NULL|
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
only showing top 5 rows

In [8]:
# Tentukan path ke file CSV Anda
path_csv = 'hospital/data_dictionary.csv'

# Baca file CSV ke dalam Spark DataFrame
# Spark akan secara otomatis mendeteksi header dan skema data
df_dictionary = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_dictionary.printSchema()

print("\nContoh Data:")
df_dictionary.show(5)

df_dictionary.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Table: string (nullable = true)
 |-- Field: string (nullable = true)
 |-- Description: string (nullable = true)


Contoh Data:
+----------+-------+--------------------+
|     Table|  Field|         Description|
+----------+-------+--------------------+
|encounters|   NULL|Patient encounter...|
|encounters|     Id|Primary Key. Uniq...|
|encounters|  Start|The date and time...|
|encounters|   Stop|The date and time...|
|encounters|Patient|Foreign key to th...|
+----------+-------+--------------------+
only showing top 5 rows

In [11]:
%%sql

create schema if not exists hospital_medallion

++
||
++
++

# Table (Bronze)

In [59]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.patients_bronze (
        Id string,
        BIRTHDATE date,
        DEATHDATE date,
        PREFIX string,
        FIRST string,
        LAST string,
        SUFFIX string,
        MAIDEN string,
        MARITAL string,
        RACE string,
        ETHNICITY string,
        GENDER string,
        BIRTHPLACE string,
        ADDRESS string,
        CITY string,
        STATE string,
        COUNTY string,
        ZIP integer,
        LAT double,
        LON double
  )

++
||
++
++

In [60]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.payers_bronze (
        Id string,
        NAME string,
        ADDRESS string,
        CITY string,
        STATE_HEADQUARTERED string,
        ZIP integer,
        PHONE string
)

++
||
++
++

In [61]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.encounters_bronze (
        Id string,
        START timestamp,
        STOP timestamp,
        PATIENT string,
        ORGANIZATION string,
        PAYER string,
        ENCOUNTERCLASS string,
        CODE integer,
        DESCRIPTION string,
        BASE_ENCOUNTER_COST double,
        TOTAL_CLAIM_COST double,
        PAYER_COVERAGE double,
        REASONCODE long,
        REASONDESCRIPTION string
)

++
||
++
++

In [62]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.organizations_bronze (
        Id string,
        NAME string,
        ADDRESS string,
        CITY string,
        STATE string,
        ZIP integer,
        LAT double,
        LON double
)

++
||
++
++

In [63]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.procedures_bronze (
        START timestamp,
        STOP timestamp,
        PATIENT string,
        ENCOUNTER string,
        CODE long,
        DESCRIPTION string,
        BASE_COST integer,
        REASONCODE long,
        REASONDESCRIPTION string
)

++
||
++
++

In [64]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.dictionary_bronze (
        Table string,
        Field string,
        Description string
)

++
||
++
++

In [65]:
%%sql

show tables in hospital_medallion

+--------------------+----------------------+-------------+
|          namespace |            tableName | isTemporary |
+--------------------+----------------------+-------------+
| hospital_medallion |    dictionary_bronze |       False |
| hospital_medallion |    encounters_bronze |       False |
| hospital_medallion | organizations_bronze |       False |
| hospital_medallion |      patients_bronze |       False |
| hospital_medallion |        payers_bronze |       False |
| hospital_medallion |    procedures_bronze |       False |
+--------------------+----------------------+-------------+

# Medallion (Bronze)

In [9]:
brz_patients = df_patients
brz_payers = df_payers
brz_procedures = df_procedures
brz_encounters = df_encounters
brz_organizations = df_organizations
brz_dictonary = df_dictionary

In [10]:
brz_patients.show()

+--------------------+----------+----------+------+------------+--------------+------+-----------+-------+------+-----------+------+--------------------+--------------------+----------+-------------+----------------+----+------------------+------------+
|                  Id| BIRTHDATE| DEATHDATE|PREFIX|       FIRST|          LAST|SUFFIX|     MAIDEN|MARITAL|  RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|      CITY|        STATE|          COUNTY| ZIP|               LAT|         LON|
+--------------------+----------+----------+------+------------+--------------+------+-----------+-------+------+-----------+------+--------------------+--------------------+----------+-------------+----------------+----+------------------+------------+
|5605b66b-e92d-c16...|1977-03-19|      NULL|  Mrs.|   Nikita578|     Erdman779|  NULL|  Leannon79|      M| white|nonhispanic|     F|Wakefield  Massac...|510 Little Statio...|    Quincy|Massachusetts|  Norfolk County|2186|42.290937381211286|-70.97550306|
|6e5ae27c-8038-798...|1940-02-19|      NULL|   Mr.|     Zane918| Hodkiewicz467|  NULL|       NULL|      M| white|nonhispanic|     M|Brookline  Massac...| 747 Conn Throughway|    Boston|Massachusetts|  Suffolk County|2135|42.308831197562505| -71.0631616|
|8123d076-0886-900...|1958-06-04|      NULL|   Mr.|    Quinn173|  Marquardt819|  NULL|       NULL|      M| white|nonhispanic|     M|Gardner  Massachu...|816 Okuneva Exten...|    Quincy|Massachusetts|  Norfolk County|2170| 42.26517684888508|-70.96708508|
|770518e4-6133-648...|1928-12-25|2017-09-29|   Mr.|     Abel832|    Smitham825|  NULL|       NULL|      M| white|   hispanic|     M|Randolph  Massach...|127 Cole Way Unit 95|    Boston|Massachusetts|  Suffolk County|2118|42.334303740740594| -71.0668012|
|f96addf5-81b9-0aa...|1928-12-25|2014-02-23|   Mr.|    Edwin773|    Labadie908|  NULL|       NULL|      M| white|   hispanic|     M|Stow  Massachuset...| 976 Ziemann Gateway|    Boston|Massachusetts|  Suffolk County|2125|42.346771403899275|-71.05881297|
|8e9650d1-788a-78f...|1928-12-25|      NULL|   Mr.|  Frankie174|Oberbrunner298|  NULL|       NULL|      M| white|   hispanic|     M|Boston  Massachus...|303 Bechtelar Byp...|    Boston|Massachusetts|  Suffolk County|2467|       42.37102647|-71.11810672|
|183df435-4190-060...|1957-11-08|      NULL|  Mrs.|   Eilene124|      Walsh511|  NULL| Wiegand701|      M| asian|nonhispanic|     F|Beijing  Beijing ...|     235 Lang Parade| Cambridge|Massachusetts|Middlesex County|2142| 42.35892760552785|-71.15622361|
|720560d4-51da-c38...|1972-06-27|      NULL|   Mr.|   Lowell343|      Price929|  NULL|       NULL|      M| white|nonhispanic|     M|Lowell  Massachus...|694 Kuhlman Corne...|    Quincy|Massachusetts|  Norfolk County|2170|42.297903944576696|-71.01598304|
|217851b0-5f47-d37...|1954-03-06|      NULL|   Mr.|   Adrian111|    Gleason633|  NULL|       NULL|      S| black|   hispanic|     M|Boston  Massachus...|   808 Gottlieb Wall|    Boston|Massachusetts|  Suffolk County|2126| 42.38408414202098| -71.1006892|
|ff331e5c-ab16-e21...|1927-07-10|      NULL|   Mr.|   Eugene421|  Abernathy524|  NULL|       NULL|      M|native|   hispanic|     M|Pembroke  Massach...|706 Connelly Trac...|    Boston|Massachusetts|  Suffolk County|2111|42.358519313454885|-71.07859759|
|affa7bf1-f4fc-d3f...|1933-05-08|      NULL|   Mr.|      Jay242|     Wisozk929|  NULL|       NULL|      M| white|nonhispanic|     M|Boston  Massachus...|    471 Borer Estate|    Boston|Massachusetts|  Suffolk County|2124| 42.32018629385089|-71.14569272|
|becb15c3-a135-8fb...|1948-05-30|      NULL|  Mrs.|Stephanie963|     Douglas31|  NULL|Predovic534|      M| white|nonhispanic|     F|Amesbury  Massach...|   345 Carter Hollow|    Boston|Massachusetts|  Suffolk County|2132|       42.34832748|-71.09646633|
|a8ceba15-ef47-da9...|1971-10-27|2021-03-26|  Mrs.|   Helene803|    Kilback373|  NULL|  Walker122|      M| white|   hispanic|     F|New Bedford  Mass...|865 McLaughlin Un...|    Boston|Massachusetts|  Suffolk County|2114| 42.34049480617021|-71.10111729|
|0e02b297-527d-b5e...|1983-04-11|      NULL|   Mr.|    Maria750|    Waelchi213|  NULL|       NULL|      M| black|nonhispanic|     M|Salem  Massachuse...|584 Cormier Lodge...|Somerville|Massachusetts|Middlesex County|2145| 42.34629011328354|-71.10642736|
|f2203fd5-1a2c-60c...|1939-09-21|      NULL|  Mrs.|     Edra310|     Wehner319|  NULL|   Upton904|      M| white|nonhispanic|     F|Fairhaven  Massac...|538 Hilpert Estat...|    Boston|Massachusetts|  Suffolk County|2131| 42.33537460452552|-71.05849869|
|4d55540d-c43d-e6e...|1964-10-15|      NULL|  Mrs.|   Mickie472|   Champlin946|  NULL| Hermann103|      M| white|nonhispanic|     F|Chelsea  Massachu...|1092 Schoen Grove...|    Boston|Massachusetts|  Suffolk County|2119|42.340495535169836| -71.0654866|
|07e7f8a0-1bfd-3af...|1923-03-16|      NULL|   Ms.|    Norah104|      Feeney44|  NULL|       NULL|      S| white|nonhispanic|     F|Oxford  Massachus...|    865 Pollich Rest|    Boston|Massachusetts|  Suffolk County|2125| 42.36743841892837|-71.01451077|
|6746a7c0-1335-90e...|1979-06-16|      NULL|   Mr.|  Edgardo196|    Okuneva707|  NULL|       NULL|      S| black|nonhispanic|     M|Waltham  Massachu...|947 Eichmann Boul...|    Revere|Massachusetts|  Suffolk County|2151| 42.38943374736875|-70.99622431|
|733678d5-4ba7-d46...|1981-02-17|      NULL|   Mr.|    Allen322|     Schumm995|  NULL|       NULL|      M| white|nonhispanic|     M|Haverhill  Massac...|  425 Lang Boulevard|    Quincy|Massachusetts|  Norfolk County|2169| 42.30327969256278| -70.9740781|
|5bd6c434-6f51-6e5...|1931-12-18|      NULL|  Mrs.|    Celia938|     Carter549|  NULL|   Crona259|      M| asian|nonhispanic|     F|Attleboro  Massac...|773 Weissnat Rout...|    Boston|Massachusetts|  Suffolk County|2111| 42.32476069440513| -70.9989431|
+--------------------+----------+----------+------+------------+--------------+------+-----------+-------+------+-----------+------+--------------------+--------------------+----------+-------------+----------------+----+------------------+------------+
only showing top 20 rows

In [67]:
brz_patients.write.insertInto("hospital_medallion.patients_bronze")
brz_payers.write.insertInto("hospital_medallion.payers_bronze")
brz_procedures.write.insertInto("hospital_medallion.procedures_bronze")
brz_encounters.write.insertInto("hospital_medallion.encounters_bronze")
brz_organizations.write.insertInto("hospital_medallion.organizations_bronze")
brz_dictonary.write.insertInto("hospital_medallion.dictionary_bronze")

In [69]:
%%sql

show tables in hospital_medallion

+--------------------+----------------------+-------------+
|          namespace |            tableName | isTemporary |
+--------------------+----------------------+-------------+
| hospital_medallion |    dictionary_bronze |       False |
| hospital_medallion |    encounters_bronze |       False |
| hospital_medallion | organizations_bronze |       False |
| hospital_medallion |      patients_bronze |       False |
| hospital_medallion |        payers_bronze |       False |
| hospital_medallion |    procedures_bronze |       False |
+--------------------+----------------------+-------------+

# Medallion (Silver)

# mengecheck data null

In [11]:
from pyspark.sql import functions as F

In [15]:
jumlah_null = brz_patients.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_patients.columns]
)

jumlah_null.show()

+---+---------+---------+------+-----+----+------+------+-------+----+---------+------+----------+-------+----+-----+------+---+---+---+
| Id|BIRTHDATE|DEATHDATE|PREFIX|FIRST|LAST|SUFFIX|MAIDEN|MARITAL|RACE|ETHNICITY|GENDER|BIRTHPLACE|ADDRESS|CITY|STATE|COUNTY|ZIP|LAT|LON|
+---+---------+---------+------+-----+----+------+------+-------+----+---------+------+----------+-------+----+-----+------+---+---+---+
|  0|        0|      820|     0|    0|   0|   953|   588|      1|   0|        0|     0|         0|      0|   0|    0|     0|142|  0|  0|
+---+---------+---------+------+-----+----+------+------+-------+----+---------+------+----------+-------+----+-----+------+---+---+---+

In [16]:
jumlah_null = brz_payers.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_payers.columns]
)

jumlah_null.show()

+---+----+-------+----+-------------------+---+-----+
| Id|NAME|ADDRESS|CITY|STATE_HEADQUARTERED|ZIP|PHONE|
+---+----+-------+----+-------------------+---+-----+
|  0|   0|      1|   1|                  1|  1|    1|
+---+----+-------+----+-------------------+---+-----+

In [17]:
jumlah_null = brz_procedures.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_procedures.columns]
)

jumlah_null.show()

+-----+----+-------+---------+----+-----------+---------+----------+-----------------+
|START|STOP|PATIENT|ENCOUNTER|CODE|DESCRIPTION|BASE_COST|REASONCODE|REASONDESCRIPTION|
+-----+----+-------+---------+----+-----------+---------+----------+-----------------+
|    0|   0|      0|        0|   0|          0|        0|     36945|            36945|
+-----+----+-------+---------+----+-----------+---------+----------+-----------------+

In [20]:
jumlah_null = brz_organizations.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_organizations.columns]
)

jumlah_null.show()

+---+----+-------+----+-----+---+---+---+
| Id|NAME|ADDRESS|CITY|STATE|ZIP|LAT|LON|
+---+----+-------+----+-----+---+---+---+
|  0|   0|      0|   0|    0|  0|  0|  0|
+---+----+-------+----+-----+---+---+---+

In [21]:
jumlah_null = brz_encounters.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_encounters.columns]
)

jumlah_null.show()

+---+-----+----+-------+------------+-----+--------------+----+-----------+-------------------+----------------+--------------+----------+-----------------+
| Id|START|STOP|PATIENT|ORGANIZATION|PAYER|ENCOUNTERCLASS|CODE|DESCRIPTION|BASE_ENCOUNTER_COST|TOTAL_CLAIM_COST|PAYER_COVERAGE|REASONCODE|REASONDESCRIPTION|
+---+-----+----+-------+------------+-----+--------------+----+-----------+-------------------+----------------+--------------+----------+-----------------+
|  0|    0|   0|      0|           0|    0|             0|   0|          0|                  0|               0|             0|     19541|            19541|
+---+-----+----+-------+------------+-----+--------------+----+-----------+-------------------+----------------+--------------+----------+-----------------+

In [22]:
jumlah_null = brz_dictonary.select(
    [F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c) for c in brz_dictonary.columns]
)

jumlah_null.show()

+-----+-----+-----------+
|Table|Field|Description|
+-----+-----+-----------+
|    0|    5|          0|
+-----+-----+-----------+

# membersihkan data

In [12]:
#Patient
slv_patients = brz_patients.withColumn(
    "is_deceased",
    F.when(F.col("DEATHDATE").isNotNull(), True).otherwise(False)
)
slv_patients = slv_patients.fillna({
    'ZIP': 'UNKNOWN',
    'MARITAL': 'U' # 'U' singkatan dari 'Unknown'
})

In [13]:
slv_patients.show(5)

+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+-----------+
|                  Id| BIRTHDATE| DEATHDATE|PREFIX|    FIRST|         LAST|SUFFIX|   MAIDEN|MARITAL| RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|  CITY|        STATE|        COUNTY| ZIP|               LAT|         LON|is_deceased|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+-----------+
|5605b66b-e92d-c16...|1977-03-19|      NULL|  Mrs.|Nikita578|    Erdman779|  NULL|Leannon79|      M|white|nonhispanic|     F|Wakefield  Massac...|510 Little Statio...|Quincy|Massachusetts|Norfolk County|2186|42.290937381211286|-70.97550306|      false|
|6e5ae27c-8038-798...|1940-02-19|      NULL|   Mr.|  Zane918|Hodkiewicz467|  NULL|     NULL|      M|white|nonhispanic|     M|Brookline  Massac...| 747 Conn Throughway|Boston|Massachusetts|Suffolk County|2135|42.308831197562505| -71.0631616|      false|
|8123d076-0886-900...|1958-06-04|      NULL|   Mr.| Quinn173| Marquardt819|  NULL|     NULL|      M|white|nonhispanic|     M|Gardner  Massachu...|816 Okuneva Exten...|Quincy|Massachusetts|Norfolk County|2170| 42.26517684888508|-70.96708508|      false|
|770518e4-6133-648...|1928-12-25|2017-09-29|   Mr.|  Abel832|   Smitham825|  NULL|     NULL|      M|white|   hispanic|     M|Randolph  Massach...|127 Cole Way Unit 95|Boston|Massachusetts|Suffolk County|2118|42.334303740740594| -71.0668012|       true|
|f96addf5-81b9-0aa...|1928-12-25|2014-02-23|   Mr.| Edwin773|   Labadie908|  NULL|     NULL|      M|white|   hispanic|     M|Stow  Massachuset...| 976 Ziemann Gateway|Boston|Massachusetts|Suffolk County|2125|42.346771403899275|-71.05881297|       true|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+-----------+
only showing top 5 rows

In [14]:
# Payers
slv_payers = brz_payers.withColumn(
    "ADDRESS",
    F.when(
        F.col("NAME") == "NO_INSURANCE", "N/A" # 'N/A' = Not Applicable
    ).otherwise(F.col("ADDRESS"))
).withColumn(
    "CITY",
    F.when(F.col("NAME") == "NO_INSURANCE", "N/A").otherwise(F.col("CITY"))
).withColumn(
    "STATE_HEADQUARTERED",
    F.when(F.col("NAME") == "NO_INSURANCE", "N/A").otherwise(F.col("STATE_HEADQUARTERED"))
).withColumn(
    "ZIP",
    F.when(F.col("NAME") == "NO_INSURANCE", "00000").otherwise(F.col("ZIP"))
).withColumn(
    "PHONE",
    F.when(F.col("NAME") == "NO_INSURANCE", "N/A").otherwise(F.col("PHONE"))
)

In [15]:
slv_payers.show()

+--------------------+--------------------+--------------------+------------+-------------------+-----+--------------+
|                  Id|                NAME|             ADDRESS|        CITY|STATE_HEADQUARTERED|  ZIP|         PHONE|
+--------------------+--------------------+--------------------+------------+-------------------+-----+--------------+
|b3221cfc-24fb-339...|       Dual Eligible|  7500 Security Blvd|   Baltimore|                 MD|21244|1-877-267-2323|
|7caa7254-5050-3b5...|            Medicare|  7500 Security Blvd|   Baltimore|                 MD|21244|1-800-633-4227|
|7c4411ce-02f1-39b...|            Medicaid|  7500 Security Blvd|   Baltimore|                 MD|21244|1-877-267-2323|
|d47b3510-2895-3b7...|              Humana|    500 West Main St|  Louisville|                 KY|40018|1-844-330-7799|
|6e2f1a2d-27bd-370...|Blue Cross Blue S...|      Michigan Plaza|     Chicago|                 IL|60007|1-800-262-2583|
|5059a55e-5d6e-34d...|    UnitedHealthcare|9800 Healthcare Lane|  Minnetonka|                 MN|55436|1-888-545-5205|
|4d71f845-a6a9-3c3...|               Aetna|  151 Farmington Ave|    Hartford|                 CT| 6156|1-800-872-3862|
|047f6ec3-6215-35e...|        Cigna Health|900 Cottage Grove Rd|  Bloomfield|                 CT| 6002|1-800-997-1654|
|42c4fca7-f8a9-3cd...|              Anthem|    220 Virginia Ave|Indianapolis|                 IN|46204|1-800-331-1476|
|b1c428d6-4f07-31e...|        NO_INSURANCE|                 N/A|         N/A|                N/A|00000|           N/A|
+--------------------+--------------------+--------------------+------------+-------------------+-----+--------------+

In [16]:
# procedures

slv_procedures = brz_procedures

In [17]:
# encounter

slv_encounters = brz_encounters.fillna({
    'REASONCODE': 'NONE',
    'REASONDESCRIPTION': 'No Description Provided'
})

slv_encounters = slv_encounters.withColumn(
    "duration_seconds",
    F.col("STOP").cast("long") - F.col("START").cast("long")
).withColumn(
    "duration_minutes",
    (F.round(F.col("duration_seconds") / 60, 2)).cast("double")
)

In [18]:
slv_encounters.printSchema()
slv_encounters.show(5)

root
 |-- Id: string (nullable = true)
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ORGANIZATION: string (nullable = true)
 |-- PAYER: string (nullable = true)
 |-- ENCOUNTERCLASS: string (nullable = true)
 |-- CODE: integer (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_ENCOUNTER_COST: double (nullable = true)
 |-- TOTAL_CLAIM_COST: double (nullable = true)
 |-- PAYER_COVERAGE: double (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = false)
 |-- duration_seconds: long (nullable = true)
 |-- duration_minutes: double (nullable = true)

+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+--------------------+----------------+----------------+
|                  Id|              START|               STOP|             PATIENT|        ORGANIZATION|               PAYER|ENCOUNTERCLASS|     CODE|         DESCRIPTION|BASE_ENCOUNTER_COST|TOTAL_CLAIM_COST|PAYER_COVERAGE|REASONCODE|   REASONDESCRIPTION|duration_seconds|duration_minutes|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+--------------------+----------------+----------------+
|32c84703-2481-49c...|2011-01-02 09:26:36|2011-01-02 12:58:36|3de74169-7f67-930...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    ambulatory|185347001|Encounter for pro...|              85.55|         1018.02|           0.0|      NULL|No Description Pr...|           12720|           212.0|
|c98059da-320a-c0a...|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e44-32e9-914...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    outpatient|308335008|Patient encounter...|             142.58|         2619.36|           0.0|      NULL|No Description Pr...|            1023|           17.05|
|4ad28a3a-2479-782...|2011-01-03 14:32:11|2011-01-03 14:47:11|73babadf-5b2b-fee...|d78e84ec-30aa-3bb...|7caa7254-5050-3b5...|    outpatient|185349003|Encounter for che...|              85.55|          461.59|        305.27|      NULL|No Description Pr...|             900|            15.0|
|c3f4da61-e4b4-21d...|2011-01-03 16:24:45|2011-01-03 16:39:45|3b46a0b7-0f34-9b9...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|      wellness|162673000|General examinati...|              136.8|         1784.24|           0.0|      NULL|No Description Pr...|             900|            15.0|
|a9183b4f-2572-72e...|2011-01-03 17:36:53|2011-01-03 17:51:53|fa006887-d93c-d30...|d78e84ec-30aa-3bb...|42c4fca7-f8a9-3cd...|    ambulatory|390906007| Follow-up encounter|              85.55|          234.72|           0.0|  55822004|      Hyperlipidemia|             900|            15.0|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+--------------------+----------------+----------------+
only showing top 5 rows

In [19]:
# Organization

slv_organizations = brz_organizations

In [20]:
# Dictionary

slv_dictionary = brz_dictonary

# Silver Table

In [37]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.patients_silver (
        Id string,
        BIRTHDATE date,
        DEATHDATE date,
        PREFIX string,
        FIRST string,
        LAST string,
        SUFFIX string,
        MAIDEN string,
        MARITAL string,
        RACE string,
        ETHNICITY string,
        GENDER string,
        BIRTHPLACE string,
        ADDRESS string,
        CITY string,
        STATE string,
        COUNTY string,
        ZIP integer,
        LAT double,
        LON double,
        is_deceased boolean
  )

++
||
++
++

In [38]:
slv_patients.printSchema()

root
 |-- Id: string (nullable = true)
 |-- BIRTHDATE: date (nullable = true)
 |-- DEATHDATE: date (nullable = true)
 |-- PREFIX: string (nullable = true)
 |-- FIRST: string (nullable = true)
 |-- LAST: string (nullable = true)
 |-- SUFFIX: string (nullable = true)
 |-- MAIDEN: string (nullable = true)
 |-- MARITAL: string (nullable = false)
 |-- RACE: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- BIRTHPLACE: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTY: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- is_deceased: boolean (nullable = false)

In [39]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.payers_silver (
        Id string,
        NAME string,
        ADDRESS string,
        CITY string,
        STATE_HEADQUARTERED string,
        ZIP string,
        PHONE string
)

++
||
++
++

In [40]:
slv_payers.printSchema()

root
 |-- Id: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE_HEADQUARTERED: string (nullable = true)
 |-- ZIP: string (nullable = true)
 |-- PHONE: string (nullable = true)

In [41]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.encounters_silver (
        Id string,
        START timestamp,
        STOP timestamp,
        PATIENT string,
        ORGANIZATION string,
        PAYER string,
        ENCOUNTERCLASS string,
        CODE integer,
        DESCRIPTION string,
        BASE_ENCOUNTER_COST double,
        TOTAL_CLAIM_COST double,
        PAYER_COVERAGE double,
        REASONCODE long,
        REASONDESCRIPTION string,
        duration_seconds long,
        duration_minutes double
)

++
||
++
++

In [42]:
slv_encounters.printSchema()

root
 |-- Id: string (nullable = true)
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ORGANIZATION: string (nullable = true)
 |-- PAYER: string (nullable = true)
 |-- ENCOUNTERCLASS: string (nullable = true)
 |-- CODE: integer (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_ENCOUNTER_COST: double (nullable = true)
 |-- TOTAL_CLAIM_COST: double (nullable = true)
 |-- PAYER_COVERAGE: double (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = false)
 |-- duration_seconds: long (nullable = true)
 |-- duration_minutes: double (nullable = true)

In [43]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.organizations_silver (
        Id string,
        NAME string,
        ADDRESS string,
        CITY string,
        STATE string,
        ZIP integer,
        LAT double,
        LON double
)

++
||
++
++

In [44]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.procedures_silver (
        START timestamp,
        STOP timestamp,
        PATIENT string,
        ENCOUNTER string,
        CODE long,
        DESCRIPTION string,
        BASE_COST integer,
        REASONCODE long,
        REASONDESCRIPTION string
)

++
||
++
++

In [45]:
slv_procedures.printSchema()

root
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ENCOUNTER: string (nullable = true)
 |-- CODE: long (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_COST: integer (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = true)

In [46]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_medallion.dictionary_silver (
        Table string,
        Field string,
        Description string
)

++
||
++
++

In [47]:
%%sql

show tables in hospital_medallion

+--------------------+----------------------+-------------+
|          namespace |            tableName | isTemporary |
+--------------------+----------------------+-------------+
| hospital_medallion |    dictionary_bronze |       False |
| hospital_medallion |    dictionary_silver |       False |
| hospital_medallion |    encounters_bronze |       False |
| hospital_medallion |    encounters_silver |       False |
| hospital_medallion | organizations_bronze |       False |
| hospital_medallion | organizations_silver |       False |
| hospital_medallion |      patients_bronze |       False |
| hospital_medallion |      patients_silver |       False |
| hospital_medallion |        payers_bronze |       False |
| hospital_medallion |        payers_silver |       False |
| hospital_medallion |    procedures_bronze |       False |
| hospital_medallion |    procedures_silver |       False |
+--------------------+----------------------+-------------+

In [48]:
slv_patients.write.insertInto("hospital_medallion.patients_silver")
slv_payers.write.insertInto("hospital_medallion.payers_silver")
slv_procedures.write.insertInto("hospital_medallion.procedures_silver")
slv_encounters.write.insertInto("hospital_medallion.encounters_silver")
slv_organizations.write.insertInto("hospital_medallion.organizations_silver")
slv_dictionary.write.insertInto("hospital_medallion.dictionary_silver")

# medallion (Gold)

In [51]:
gld_patient_status_summary = (
    slv_patients
    .rollup("is_deceased").agg(F.count("Id").alias("jumlah_pasien"))
    .withColumn("status_pasien", F.when(F.col("is_deceased") == True, "Meninggal Dunia")
         .when(F.col("is_deceased") == False, "Hidup")
         .otherwise("Total Keseluruhan"))
    .select("status_pasien", "jumlah_pasien")
    .orderBy(F.col("jumlah_pasien").desc())
)

# Tampilkan hasilnya
gld_patient_status_summary.show()

+-----------------+-------------+
|    status_pasien|jumlah_pasien|
+-----------------+-------------+
|Total Keseluruhan|          974|
|            Hidup|          820|
|  Meninggal Dunia|          154|
+-----------------+-------------+

In [52]:
gld_payer_usage_summary = (
    slv_encounters
    .join(
        slv_payers,
        slv_encounters.PAYER == slv_payers.Id,
        "inner"
    )
    .groupBy(
        slv_payers.NAME
    )
    .agg(
        F.count(slv_encounters.Id).alias("jumlah_penggunaan")
    )
    .select(
        F.col("NAME").alias("nama_asuransi"),
        F.col("jumlah_penggunaan")
    )
    .orderBy(
        F.col("jumlah_penggunaan").desc()
    )
)

# Tampilkan hasilnya
gld_payer_usage_summary.show()

+--------------------+-----------------+
|       nama_asuransi|jumlah_penggunaan|
+--------------------+-----------------+
|            Medicare|            11371|
|        NO_INSURANCE|             8807|
|            Medicaid|             1443|
|              Humana|             1084|
|               Aetna|              936|
|Blue Cross Blue S...|              925|
|       Dual Eligible|              912|
|    UnitedHealthcare|              900|
|        Cigna Health|              809|
|              Anthem|              704|
+--------------------+-----------------+

In [53]:
from pyspark.sql.functions import to_date, col, countDistinct

gld_daily_patient_count = (
    slv_encounters
    .groupBy(
        to_date(col("START")).alias("tanggal_kunjungan")
    )
    .agg(
        countDistinct("PATIENT").alias("jumlah_pasien_unik")
    )
    .orderBy(
        col("tanggal_kunjungan")
    )
)

# Tampilkan hasilnya

In [54]:
gld_daily_patient_count.show()

+-----------------+------------------+
|tanggal_kunjungan|jumlah_pasien_unik|
+-----------------+------------------+
|       2011-01-02|                 1|
|       2011-01-03|                 6|
|       2011-01-04|                 2|
|       2011-01-05|                 3|
|       2011-01-07|                 3|
|       2011-01-08|                 2|
|       2011-01-09|                 3|
|       2011-01-10|                 1|
|       2011-01-11|                 3|
|       2011-01-12|                 4|
|       2011-01-13|                 3|
|       2011-01-14|                 3|
|       2011-01-15|                 2|
|       2011-01-16|                 4|
|       2011-01-17|                 3|
|       2011-01-18|                 3|
|       2011-01-19|                 4|
|       2011-01-20|                 2|
|       2011-01-21|                 5|
|       2011-01-22|                 3|
+-----------------+------------------+
only showing top 20 rows

In [55]:
gld_encounterclass_summary = (
    slv_encounters
    .groupBy("ENCOUNTERCLASS")
    .agg(
        F.count("Id").alias("jumlah_kunjungan")
    )
    .orderBy(
        F.col("jumlah_kunjungan").desc()
    )
)

# Tampilkan hasilnya
gld_encounterclass_summary.show()

+--------------+----------------+
|ENCOUNTERCLASS|jumlah_kunjungan|
+--------------+----------------+
|    ambulatory|           12537|
|    outpatient|            6300|
|    urgentcare|            3666|
|     emergency|            2322|
|      wellness|            1931|
|     inpatient|            1135|
+--------------+----------------+

In [56]:
%%sql

create schema if not exists hospital_gold

++
||
++
++

In [60]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_gold.gld_total_deceased (
        status_pasien string,
        jumlah_pasien int
)

++
||
++
++

In [69]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_gold.gld_penggunaan_asuransi (
        nama_asuransi string,
        jumlah_penggunaan long
)

++
||
++
++

In [64]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_gold.gld_jumlah_kunjungan_perHari (
        tanggal_kunjungan date,
        jumlah_pasien_unik long
)

++
||
++
++

In [72]:
%%sql
CREATE TABLE
  if NOT EXISTS hospital_gold.gld_encounterclass_total (
        ENCOUNTERCLASS string,
        jumlah_kunjungan long
)

++
||
++
++

In [71]:
gld_encounterclass_summary.printSchema()

root
 |-- ENCOUNTERCLASS: string (nullable = true)
 |-- jumlah_kunjungan: long (nullable = false)

In [73]:
%%sql

show tables in hospital_gold

+---------------+------------------------------+-------------+
|     namespace |                    tableName | isTemporary |
+---------------+------------------------------+-------------+
| hospital_gold |     gld_encounterclass_total |       False |
| hospital_gold | gld_jumlah_kunjungan_perHari |       False |
| hospital_gold |      gld_penggunaan_asuransi |       False |
| hospital_gold |           gld_total_deceased |       False |
+---------------+------------------------------+-------------+

In [74]:
gld_daily_patient_count.write.insertInto("hospital_gold.gld_jumlah_kunjungan_perHari")
gld_encounterclass_summary.write.insertInto("hospital_gold.gld_encounterclass_total")
gld_patient_status_summary.write.insertInto("hospital_gold.gld_total_deceased")
gld_payer_usage_summary.write.insertInto("hospital_gold.gld_penggunaan_asuransi")

In [76]:
%%sql

select (*) from hospital_gold.gld_jumlah_kunjungan_perHari

+-------------------+--------------------+
| tanggal_kunjungan | jumlah_pasien_unik |
+-------------------+--------------------+
|        2011-01-02 |                  1 |
|        2011-01-03 |                  6 |
|        2011-01-04 |                  2 |
|        2011-01-05 |                  3 |
|        2011-01-07 |                  3 |
|        2011-01-08 |                  2 |
|        2011-01-09 |                  3 |
|        2011-01-10 |                  1 |
|        2011-01-11 |                  3 |
|        2011-01-12 |                  4 |
|        2011-01-13 |                  3 |
|        2011-01-14 |                  3 |
|        2011-01-15 |                  2 |
|        2011-01-16 |                  4 |
|        2011-01-17 |                  3 |
|        2011-01-18 |                  3 |
|        2011-01-19 |                  4 |
|        2011-01-20 |                  2 |
|        2011-01-21 |                  5 |
|        2011-01-22 |                  3 |
|        2011-01-23 |                  3 |
|        2011-01-24 |                  4 |
|        2011-01-25 |                  4 |
|        2011-01-26 |                  3 |
|        2011-01-27 |                  2 |
|        2011-01-28 |                  3 |
|        2011-01-29 |                  1 |
|        2011-01-30 |                  3 |
|        2011-01-31 |                  1 |
|        2011-02-01 |                  1 |
|        2011-02-02 |                  2 |
|        2011-02-03 |                  3 |
|        2011-02-04 |                  4 |
|        2011-02-05 |                  1 |
|        2011-02-06 |                  5 |
|        2011-02-07 |                  4 |
|        2011-02-08 |                  3 |
|        2011-02-09 |                  2 |
|        2011-02-10 |                  2 |
|        2011-02-11 |                  2 |
|        2011-02-12 |                  2 |
|        2011-02-13 |                  3 |
|        2011-02-14 |                  2 |
|        2011-02-15 |                  2 |
|        2011-02-16 |                  2 |
|        2011-02-17 |                  2 |
|        2011-02-18 |                  3 |
|        2011-02-19 |                  1 |
|        2011-02-20 |                  4 |
|        2011-02-21 |                  3 |
|        2011-02-22 |                  3 |
|        2011-02-23 |                  5 |
|        2011-02-24 |                  3 |
|        2011-02-25 |                  3 |
|        2011-02-26 |                  1 |
|        2011-02-27 |                  5 |
|        2011-02-28 |                  8 |
|        2011-03-01 |                  2 |
|        2011-03-02 |                  5 |
|        2011-03-03 |                  3 |
|        2011-03-04 |                  4 |
|        2011-03-05 |                  5 |
|        2011-03-06 |                  2 |
|        2011-03-07 |                  5 |
|        2011-03-08 |                  4 |
|        2011-03-09 |                  5 |
|        2011-03-10 |                  4 |
|        2011-03-11 |                  6 |
|        2011-03-12 |                  2 |
|        2011-03-13 |                  4 |
|        2011-03-14 |                  4 |
|        2011-03-15 |                  5 |
|        2011-03-16 |                  4 |
|        2011-03-17 |                  2 |
|        2011-03-18 |                  5 |
|        2011-03-19 |                  4 |
|        2011-03-20 |                  3 |
|        2011-03-21 |                  7 |
|        2011-03-22 |                  4 |
|        2011-03-23 |                  2 |
|        2011-03-24 |                  7 |
|        2011-03-25 |                  3 |
|        2011-03-26 |                  4 |
|        2011-03-27 |                  2 |
|        2011-03-28 |                  4 |
|        2011-03-29 |                  7 |
|        2011-03-30 |                  4 |
|        2011-03-31 |                  4 |
|        2011-04-01 |                  4 |
|        2011-04-02 |                  5 |
|        2011-04-03 |                  3 |
|        2011-04-04 |                  7 |
|        2011-04-05 |                  3 |
|        2011-04-06 |                  4 |
|        2011-04-07 |                  3 |
|        2011-04-08 |                  5 |
|        2011-04-09 |                  4 |
|        2011-04-10 |                  4 |
|        2011-04-11 |                  2 |
|        2011-04-12 |                  5 |
+-------------------+--------------------+